<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mi Pagina</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/css/mipagina.css">
</head>

<body>
	<div id="page">
		<div class="header">
			<div class="toolbar">
				<div class="languages">
					<img src="/images/spanish.png" alt="">
					<img src="/images/english.png" alt="">
				</div>
				<div class="social">
					<img src="/images/instagram.png" alt="">
					<img src="/images/facebook.png" alt="">
					<img src="/images/twitter.png" alt="">
				</div>
			</div>
			<nav>
				<img src="/images/quicentro.png" alt="quicentro quito">
				<a href="#">TIENDAS</a>
				<a href="#">GASTRONOMIA</a>
				<a href="#">PROMOCIONES</a>
				<a href="#">UBICACION</a>
				<a href="#">NOTICIAS</a>
				<a href="#">SERVICIOS</a>
				<div class="search">
					<input id="search" type="text">
					<a href="#">BUSCAR</a>
				</div>
			</nav>
		</div>
		<div class="content">
			<div class="banner">
				<img src="/images/banner2.png" alt="">
				<div class="wifizone">
					<img src="/images/wifi.png" alt="">
					<img src="/images/wifitext.png" alt="">
				</div>
			</div>
			<div class="services">
				<h1>SERVICIOS</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architectoorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aliquam assumenda
					dolores dolorum ex facere fugiat harum itaque, nam natus porro provident quos, sit ut veritatis. Fugiat, fugit!
					dolores dolorum ex facere fugiat harum itaque, nam natus porro provident quos, sit ut veritatis. Fugiat, fugit!</p>
				<div class="catalog">
					<div class="product">
						<img src="/images/parking.png" alt="">
						<div class="description">
							<h2>PARQUEADEROS</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illo saepe temporibus veritatis.</p>
						</div>
					</div>
					<div class="product">
						<img src="/images/horarios.png" alt="">
						<div class="description">
							<h2>HORARIOS</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illo saepe temporibus veritatis.</p>
						</div>
					</div>
					<div class="product">
						<img src="/images/gastronomia.png" alt="">
						<div class="description">
							<h2>GASTRONOMIA</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illo saepe temporibus veritatis.</p>
						</div>
					</div>
				</div>
				<div class="register">
					<p>SUSCRIBETE Y RECIBE NOVEDADES, NOTICIAS Y PROMOCIONES DE QUICENTRO SHOPPING</p>
					<div class="register-area">
						<input type="text">
						<a href="">REGISTRATE</a>
					</div>
				</div>
			</div>
		</div>	
		<div class="footer">
			<h2>NUESTROS CENTROS COMERCIALES</h2>
			<div class="clients">
				<img src="/images/sanmarino.png" alt="">
				<img src="/images/sanluis.png" alt="">
				<img src="/images/quicentrosur.png" alt="">
				<img src="/images/granadosplaza.png" alt="">
				<img src="/images/malteria.png" alt="">
				<img src="/images/pacifico.png" alt="">
				<img src="/images/portal.png" alt="">
			</div>
			<div class="links">
				<div class="related-links">
					<a href="">ACERCA DE NOSOTROS</a>
					<a href="">TRABAJA CON NOSOTROS</a>
					<a href="">CONTACTO</a>
				</div>
				<div class="related-links">
					<a href="">PRIVACIDAD</a>
					<a href="">TERMINOS Y CONDICIONES</a>
				</div>
				<div class="related-links">
					<a href="">PARQUEADEROS</a>
					<a href="">NOTICIAS</a>
					<a href="">ACCESOS Y SERVICIOS</a>
				</div>
			</div>
			<p>wwww.dkms.com</p>
		</div>			
	</div>
</body>

</html>